//Общие данные
$font-family: "Proxima Nova ExCn Rg";
$background-color: #1D1E1D;
$light-background-color: lighten($background-color, 60%);
$main-color: white;
$second-color: #346450;
$third-color: black;
$important-color: #dc3545;

//Данные шапки
$header-main-color: white;
$header-second-color: #346450;
$header-border-color: lighten($header-second-color, 10%);
$font-size-header: 30px;

$font-size-log: 16px;

//Данные клеток
$game-grid-cell-count: 10;
$game-grid-header-color: lighten($second-color, 20);
$game-grid-header-text-color: black;
$game-grid-cell-color: #e5f1f4;
$game-grid-cell-border: 1px solid #9393b8;


//Картинки кораблей в горизонтальном виде
//noinspection CssUnknownTarget
$ships-h: (
    4:url('assets/images/ships/four_h.svg'),
    3:url('assets/images/ships/triple_h.svg'),
    2: url('assets/images/ships/double_h.svg'),
    1: url('assets/images/ships/single_h.svg'),
);
//Картинки кораблей в вертикальном виде
//noinspection CssUnknownTarget
$ships-v: (
    4:url('assets/images/ships/four_v.svg'),
    3:url('assets/images/ships/triple_v.svg'),
    2: url('assets/images/ships/double_v.svg'),
    1: url('assets/images/ships/single_v.svg'),
);


:root {
  //Размер клетки
  --game-grid-cell-size: 30px;

  @media (min-width: 768px) {
    --game-grid-cell-size: 45px;
  }
  @media (min-width: 1920px) {
    --game-grid-cell-size: 2.5vw;
  }
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'Proxima Nova ExCn Rg';
  src: url('assets/fonts/ProximaNova/ProximaNovaExCn-Bold.eot');
  src: local('Proxima Nova Extra Condensed Bold'), local('ProximaNovaExCn-Bold'),
  url('assets/fonts/ProximaNova/ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/ProximaNova/ProximaNovaExCn-Bold.woff') format('woff'),
  url('assets/fonts/ProximaNova/ProximaNovaExCn-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'Proxima Nova ExCn Rg';
  src: url('assets/fonts/ProximaNova/ProximaNovaExCn-BoldIt.eot');
  src: local('Proxima Nova Extra Condensed Bold Italic'), local('ProximaNovaExCn-BoldIt'),
  url('assets/fonts/ProximaNova/ProximaNovaExCn-BoldIt.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/ProximaNova/ProximaNovaExCn-BoldIt.woff') format('woff'),
  url('assets/fonts/ProximaNova/ProximaNovaExCn-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


